@charset "utf-8";
/* CSS Document */

.bot-title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

#chat-list {
  text-align: center;
  margin: 110px auto 20px;
  width: 736px;
	height: calc(100% - 180px);
  list-style: none;
  padding-left: 0px;

  overflow:hidden;
  overflow-y:scroll; 
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.frame {
  text-align: left;
	float: left;
	width: 100%;
	margin: 5px 0;
	
  padding-top: 10px;
  display: block;
}

.full {
	float: left;
	width: 100%;
	display: block;
}

.input-container {
  margin: 10px auto;
  width: 800px;
}

#input-textbox {
  font-size: 20px;
  display: inline-block;
  border: black solid 2px;
  text-align: left;
  width: 650px;
  margin-left: 0px;
  padding-left: 10px;
  font-family: "Verdana", Geneva, sans-serif;
  font-weight: bold;
  height: 50px;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;  
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 1px #333;
  -moz-box-shadow: 2px 2px 1px #333;  
  box-shadow: 2px 2px 1px #333;		
}

#send-button {
  /*float: right;*/
  background-color: green;
	margin-left: 20px;
  color: white;
  display: inline-block;
  font-size: 25px;
  padding: 8px 15px;
  text-align: center;
  border: black solid 2px;
	-webkit-border-radius: 25px;
  -moz-border-radius: 25px;  
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 1px #333, inset -0px -2px 4px black;
  -moz-box-shadow: 2px 2px 1px #333, inset -0px -2px 4px black;  
  box-shadow: 2px 2px 1px #333, inset -0px -2px 4px black;
  box-sizing: border-box;  
}

#send-button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

#send-button:hover {
  cursor: pointer;
}

.question-text {
	float: left;
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: white;
	min-width: 30px;
	background-color: #5489eb;
	border-radius: 15px;
	padding: 10px 15px 14px 15px;
	margin-right: 45px;
	display: block;	
}

.ans-text {
  float: right;
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: black;
	min-width: 30px;
	background-color: gainsboro;
	border-radius: 15px;
	padding: 10px 15px 14px 15px;
	margin-left: 45px;
	display: block;
}

.question-arrow {
	float: left;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #5489eb;
  margin: 0px 20px;
	display: block;
}

.ans-arrow {
	float: right;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 5px solid transparent;
	border-top: 15px solid gainsboro;
	margin: 0px 20px;
	display: block;
}

.user-msg {
  margin-bottom: 20px;
  display: inline;
  padding: 10px 20px;
  font-size: 20px;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;  
  border-radius: 15px;  
  background-color: gainsboro;
  color: black;
}

.user-msg-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 5px solid transparent;
  border-top: 15px solid gainsboro;
  margin: 10px 20px;
}

#location {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}

header {
	color: white;
  position: fixed;
  width: 100%;
	height: 100px;
  background-color: #333;
  -webkit-box-shadow: 0 4px 3px 3px #333;
  -moz-box-shadow: 0 4px 3px 3px #333;
  box-shadow: 0 4px 3px 3px #333;
  z-index: 100;
	top: 0px;	
}

footer {
  background-color: #333;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 77px;
  z-index: 200;
  -webkit-box-shadow: 0 -4px 3px 3px #333;
  -moz-box-shadow: 0 -4px 3px 3px #333;
  box-shadow: 0 -4px 3px 3px #333; 	
}	